body {
  scroll-behavior: smooth;
}

#introduction {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #1e88e5;
}

#game {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #673ab7;
}

#about-us {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #ff9800;
}

#contact-us {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #00bcd4;
}
